/*Font Imports*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/*Universal*/
* {
  padding: 0;
  margin: 0;
}

/*Page Heading*/
.page_header {
  background-color: #d90429;

  width: 100%;
  height: 5.5%;
  position: fixed;
  top: 0px;
  z-index: 1;

  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  color: #edf2f4;

  margin-left: 10px;
}

/*Page Navigation Bar*/
nav {
  font-size: 18px;
}

.navigation_link {
  margin-right: 25px;

  color: #edf2f4;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
}

.navigation_link:hover {
  font-weight: bold;
}

article,
aside,
footer {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

/*Blog Section*/
article {
  background-color: #edf2f4;
  padding-top: 50px;
}

h2 {
  font-size: 48px;
}

#blog_author {
  font-style: italic;
  padding: 5px 5px 10px 5px;
  height: 35px;
  display: flex;
  gap: 10px;
}

#profile_picture {
  border-radius: 30px;
}

#blog_post_header {
  margin: 10px;
}

section {
  margin: 10px 10px 0px 10px;
}

h3 {
  font-size: 32px;
}

.blog_list {
  margin: 5px 15px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 9fr 3fr;

  border-bottom: 10px #8d99ae solid;

  padding-bottom: 40px;

  background-color: #edf2f4;
}

/* Related Blogs Section */
aside {
  background-color: #edf2f4;

  padding-top: 50px;
}

#related_blog_title {
  padding: 10px 10px 0px 10px;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;

  border-bottom: #8d99ae 8px solid;
}

#related_blog_list {
  list-style-type: none;
}

.related_blog_list_item {
  display: flex;
  padding: 10px;
  gap: 5px;
}

.relatedBlogsDescription {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.related_blog_list_item a {
  text-decoration: none;
  font-weight: bold;
  color: #2b2d42;
}

.related_blog_list_item a:hover {
  font-size: 20px;
}

/*Footer*/
footer {
  background-color: #2b2d42;
  height: 48px;
}

#copyright {
  font-size: 12px;
  color: #edf2f4;
  text-align: center;

  padding: 14px;
}
